@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.5rem;
  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}

@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--background);
  --font-family: var(--font-inter)
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  button {
    @apply cursor-pointer
  }
  .text-header {
    @apply font-black text-5xl -tracking-tight text-[#111827] text-center leading-[130%]
  }
  .text-description {
    @apply font-normal text-[18px] -tracking-tighter text-center text-[#111827] leading-[120%]
  }
}
.shadow-header {
  box-shadow: 0px 1px 12.1px -3px #0000004D;
}